<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css">
</head>

<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: process.env.FB_APP_KEY,
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v11.0'
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <div class="title">
    <h1 id="title">jessedxi's TIC-TAC-TOE</h1>
  </div>
  <div class="gameIntro">
    <p>Welcome to my little game of Tic-Tac-Toe. In this classic, face-off against a local opponent in a head-to-head
      battle of strategy and wits. </p>
    <p>Blue moves first!</p>
    <p>Press the RANDOM button if you want to leave things up to chance!</p>
    <p>Good Luck! </p>
  </div>
  <div id="app"></div>
  <script src="/scripts/main.js" type="module"></script>

  <div id="shareBtn" class="btn btn-success clearfix">Congrats on beating your opponent! Click here to share your
    victory with your
    friends on Facebook!</div>
  <script>
    document.getElementById('shareBtn').onclick = function () {
      FB.ui({
        display: 'popup',
        method: 'share',
        href: 'https://tic-tac-toe-jessedxi.herokuapp.com/',
        quote: "I Just Beat my Opponent at Tic-Tac-Toe, can you win?"

      }, function (response) { });
    }
  </script>
</body>

</html>