<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe</title>
  <link rel="stylesheet" href="/styles/index.css" type="text/css">
</head>

<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1018855102208221',
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v11.0'
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <h1 id="title">Welcome to TIC-TAC-TOE</h1>
  <div id="app"></div>
  <script src="/scripts/main.js" type="module"></script>

  <div id="shareBtn" class="btn btn-success clearfix">Share Dialog</div>
  <script>
    document.getElementById('shareBtn').onclick = function () {
      FB.ui({
        display: 'popup',
        method: 'share',
        href: 'http://localhost:3000/'
      }, function (response) { });
    }
  </script>
</body>

</html>